
@{
    ViewData["Title"] = "Eventdetail";
}

@model WebApplicationProject.Models.Event

<link rel="stylesheet" href="~/css/Detail.css" asp-append-version="true" />
<link href="~/font-awesome/css/all.css" rel="stylesheet" />
<link href="~/font-awesome/css/all.min.css" rel="stylesheet" />

<div class="modal" id="myModal">
    <div class="modal-content">
        <div class="modal-subject pad-b-15">
            <div class="flex items-center">
                <h2>
                   @Model.Title
                </h2>
                <i class="fa-solid fa-user"></i>
                <p id="amount">@Model.Amount/@Model.Capacity</p>
            </div>
            <div class="flex items-center">
                <button>
                    JOIN
                </button>
                <p>Create by @Model.User.UserName</p>
            </div>


        </div>
        <div class="modal-card-detail">
            <div class="flex justify-between">
                <div>
                    <div class="detail-content pad-b-15">
                        <i class="fa-solid fa-calendar-days"></i>
                        <p>@Model.ActivityTime</p>
                    </div>
                    <div class="detail-content pad-b-15">
                        <i class="fa-solid fa-house-chimney"></i>
                        <p>@Model.Location</p>
                    </div>
                    <div class="detail-content pad-b-15">
                        <i class="fa-solid fa-clock"></i>
                        <p>@Model.ExpireTime</p>
                    </div>
                    <div class="detail-content pad-b-15 pad-b-50">
                        <i class="fa-solid fa-phone"></i>
                        <p>@Model.Contact</p>
                    </div>
                </div>
                <div class="pad-b-15 "><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.8110131521726!2d100.77565737485553!3d13.72988888665966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d664988a1bedf%3A0xcc678f180e221cd0!2z4Liq4LiW4Liy4Lia4Lix4LiZ4LmA4LiX4LiE4LmC4LiZ4LmC4Lil4Lii4Li14Lie4Lij4Liw4LiI4Lit4Lih4LmA4LiB4Lil4LmJ4Liy4LmA4LiI4LmJ4Liy4LiE4Li44LiT4LiX4Lir4Liy4Lij4Lil4Liy4LiU4LiB4Lij4Liw4Lia4Lix4LiH!5e0!3m2!1sth!2sth!4v1709573033701!5m2!1sth!2sth" width="600" height="132" style="border-width: 2px; box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); border-radius: 0.75rem;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </div>


            <div class="pad-b-15 ">
                <h2> Detail </h2>
                <p>@Model.Detail</p>
            </div>
            <div class="comment pad-b-15">
                <h2> Comments </h2>
                <form method="post" asp-controller="Event" asp-action="AddComment">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="eventId" value="@Model.Id" />
                    <input type="text" class="my-2" name="detail" placeholder="Add your comment here..." />
                    <button type="submit" class="btn btn-primary"><i class="fa-regular fa-paper-plane"></i></button>
                </form>

                
            </div>
            <div>
                @if (Model.Comments != null && Model.Comments.Any())
                {
                <ul>
                    @foreach (var comment in Model.Comments)
                    {
                        <li>
                            <div>
                                <strong>@comment.User.UserName</strong> - @comment.CreatedAt.ToString("yyyy-MM-dd HH:mm:ss")
                            </div>
                            <div>
                                @comment.Detail
                            </div>
                        </li>
                    }
                </ul>
                }
            </div>
        </div>
        
    </div>
</div>

