@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Identity
@using WebApplicationProject.Areas.Identity.Data

@model WebApplicationProject.ViewModel.AllEventViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@section Styles{
    <link rel="stylesheet" href="~/css/mainevent.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
}

<div >
    <div class="mainevent-container">
        
        
        <div class="card-container relative">
            <div class="flex h-fit items-center justify-between">
                <h1>
                    EVENTS
                </h1>
                <div class="flex items-center gap-4 ">
                    <div class="create-event-container">
                        <a asp-controller="Event" asp-action="Create">Create Event</a>
                    </div>
                    
                    
                </div>
                
            </div>
            


                @foreach (var item in Model.OtherEvents)
            {

                    <div class="card">
                <div class="card-content ">
                    <div class="subject">
                        <a asp-action="Detail" asp-controller="Event" asp-route-Id="@item.Id">@item.Title</a>

                            <div class="flex items-center">
                                <i class="fa-solid fa-user pad"></i>
                                <p>@item.Amount / @item.Capacity</p>
                                </div>

                                
                    </div>
                    <div class="detail-container">
                        <div class="detail-content">
                            <i class="fa-solid fa-calendar-days"></i>
                                <p>@item.ActivityTime</p>
                        </div>
                        <div class="detail-content">
                            <i class="fa-solid fa-house-chimney"></i>
                                <p>@item.Location</p>
                        </div>


                    </div>
                        <div class="detail-container">
                            <div class="detail-content ">
                                <i class="fa-solid fa-clock"></i>
                                <p>@item.ExpireTime</p>
                            </div>
                            <div class="detail-content">
                                <i class="fa-solid fa-layer-group"></i>
                                <p>@item.Category</p>
                            </div>
                    </div>

                    
                        @if (SignInManager.IsSignedIn(User) && item.IsOpen)
                        {
                           <div class="join-button">
                                <form asp-action="Join" method="post">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button type="submit">JOIN</button>
                               </form>
                        
                            </div> 
                        }
                            else if (SignInManager.IsSignedIn(User) && !item.IsOpen)
                        {
                                <div class="outofdate">
                                    
                                        <button >Event Closed</button>
                                    

                            </div>
                        }
                        else if (!item.IsOpen)
                        {
                            <div class="outofdate">

                                <button>Event Closed</button>


                            </div>
                        }

                    </div>
                </div>
                
            }
           
           
            
            
        </div>

        <div class="userevent-container">
            <div class="userevent-content">
                <h1 class="sticky">My Event(s)</h1>
                @if (Model.MyEvents != null)
                {
                    @foreach (var item in Model.MyEvents)
                {
                    <div class="userevent-card">
                        <div class="userevent-card-content">
                            <div class="userevent-card-subject">
                                <div class="flex gap-8">
                                    <p><a asp-action="Detail" asp-controller="Event" asp-route-Id="@item.Id">@item.Title</a></p>
                                        <div class="flex items-center">
                                            <i class="fa-solid fa-user pad"></i>
                                            <p>@item.Amount / @item.Capacity</p>
                                        </div>
                                </div>
                                <a asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id">
                                
                                <i class="fa-solid fa-pen"></i>
                            </a>

                        </div>
                        <div class="userevent-card-detail">
                            <div class="detail-content pad-b-15">
                                <i class="fa-solid fa-calendar-days"></i>
                                    <p>@item.ExpireTime</p>
                            </div>
                            <div class="detail-content pad-b-15">
                                <i class="fa-solid fa-house-chimney"></i>
                                    <p>@item.Location</p>
                            </div>
                            <div class="detail-content pad-b-15">
                                <i class="fa-solid fa-clock"></i>
                                <p>@item.ActivityTime</p>
                            </div>
                                    <div class="detail-content">
                                        <i class="fa-solid fa-layer-group"></i>
                                        <p>@item.Category</p>
                                    </div>
                                    @if (item.IsOpen)
                                    {
                                        <div class="flex gap-4">
                                            <div class="open-button">

                                                <button>
                                                    Event Open
                                                </button>

                                            </div>

                                            <div class="quit-button">
                                                <button>
                                                    Delete Event
                                                </button>

                                            </div>
                                        </div>

                                        
                                    }
                                    else
                                    {
                                        <div class="flex gap-4">
                                            <div class="event-closed">

                                                <button>
                                                    Event Open
                                                </button>

                                            </div>

                                            <div class="quit-button">
                                                <button>
                                                    Delete Event
                                                </button>

                                            </div>
                                        </div>
                                    }

                        </div>

                    </div>
                </div>
                    }
                }
                else
                {
                    <p>No items!</p>
                }

                
            </div>
            <div class="userevent-content">
                <h1>Joined Event(s)</h1>
                @foreach (var item in Model.JoinedEvents)
                {
                    <div class="userevent-card">
                        <div class="userevent-card-content">
                            <div class="userevent-card-subject">

                                <p><a asp-action="Detail" asp-controller="Event" asp-route-Id="@item.Id">@item.Title</a></p>
                            
                                <div class="flex items-center gap-4">
                                    <i class="fa-solid fa-user pad"></i>
                                    <p >@item.Amount / @item.Capacity</p>
                                </div>

                            </div>
                            <div class="userevent-card-detail">
                                <div class="detail-content pad-b-15">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <p>@item.ActivityTime</p>
                                </div>
                                <div class="detail-content pad-b-15">
                                <i class="fa-solid fa-house-chimney"></i>
                                    <p>@item.Location</p>
                                </div>
                                <div class="detail-content pad-b-15">
                                <i class="fa-solid fa-clock"></i>
                                <p>@item.ExpireTime</p>
                                </div>
                                <div class="detail-content pad-b-15">
                                    <i class="fa-solid fa-layer-group"></i>
                                    <p>@item.Category</p>
                                </div>
                                @if(item.IsOpen){
                                     <div class="quit-button">
                                        
                                        <button>
                                            Quit
                                        </button>
                                    
                                    </div>
                                }
                                else
                                {
                                    <div class="event-closed">

                                        <button>
                                            Event Closed
                                        </button>

                                    </div>
                                }

                            </div>
                        
                    </div>
                </div>
                }
                
            </div>
        </div>



    </div>
</div>





    <script>
            

            document.getElementById("filter-container").addEventListener("mouseover", function () {
                
                document.getElementById("filter-content").style.display = "flex";

            });

            document.getElementById('filter-container').addEventListener('mouseleave', function () {
                document.getElementById('filter-content').style.display = 'none';
            });


    </script>

