@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Identity
@using WebApplicationProject.Areas.Identity.Data

@model WebApplicationProject.ViewModel.AllEventViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@section Styles{
    <link rel="stylesheet" href="~/css/mainevent.css" asp-append-version="true" />
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
}

<div >
    <div class="mainevent-container">
        
        
        <div class="card-container relative">
            <div class="flex h-fit items-center justify-between">
                <h1>
                    EVENTS
                </h1>
                <div class="flex items-center gap-4 ">
                    <div class="create-event-container">
                        <a asp-controller="Event" asp-action="Create">Create Event</a>
                    </div>
                    
                    
                </div>
                
            </div>
            


                @foreach (var item in Model.OtherEvents)
            {

                    <div class="card">
                <div class="card-content ">
                    <div class="subject">
                        <a asp-action="Detail" asp-controller="Event" asp-route-Id="@item.Id">@item.Title</a>

                            <div class="flex items-center">
                                <i class="fa-solid fa-user pad"></i>
                                <p>@item.Amount / @item.Capacity</p>
                                </div>

                                
                    </div>
                    <div class="detail-container">
                        <div class="detail-content">
                            <i class="fa-solid fa-calendar-days"></i>
                                <p>@item.ActivityTime</p>
                        </div>
                        <div class="detail-content">
                            <i class="fa-solid fa-house-chimney"></i>
                                <p>@item.Location</p>
                        </div>


                    </div>
                        <div class="detail-container">
                            <div class="detail-content ">
                                <i class="fa-solid fa-clock"></i>
                                <p>@item.ExpireTime</p>
                            </div>
                            <div class="detail-content">
                                <i class="fa-solid fa-layer-group"></i>
                                <p>@item.Category</p>
                            </div>
                    </div>

                    
                        @if (SignInManager.IsSignedIn(User) && item.IsOpen && item.ExpireTime > DateTime.Now)
                        {
                           <div class="join-button">
                                <form asp-action="Join" method="post">
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button type="submit">JOIN</button>
                               </form>
                        
                            </div> 
                        }
                            else if (SignInManager.IsSignedIn(User) && !item.IsOpen)
                        {
                                <div class="outofdate">
                                    
                                        <button >Event Closed</button>
                                    

                            </div>
                        }
                        else if (!item.IsOpen)
                        {
                            <div class="outofdate">

                                <button>Event Closed</button>


                            </div>
                        }

                    </div>
                </div>
                
            }
           
           
            
            
        </div>

        <div class="userevent-container">
            <div class="userevent-content">
                <h1 class="sticky">My Event(s)</h1>
                @if (Model.MyEvents != null)
                {
                    @foreach (var item in Model.MyEvents)
                {
                    <div class="userevent-card">
                        <div class="userevent-card-content">
                            <div class="userevent-card-subject">
                                <div class="flex gap-8">
                                    <p><a asp-action="Detail" asp-controller="Event" asp-route-Id="@item.Id">@item.Title</a></p>
                                        <div class="flex items-center">
                                            <i class="fa-solid fa-user pad"></i>
                                            <p>@item.Amount / @item.Capacity</p>
                                        </div>
                                </div>
                                <a asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id">
                                
                                <i class="fa-solid fa-pen"></i>
                            </a>

                        </div>
                        <div class="userevent-card-detail">
                            <div class="detail-content pad-b-15">
                                <i class="fa-solid fa-calendar-days"></i>
                                    <p>@item.ExpireTime</p>
                            </div>
                            <div class="detail-content pad-b-15">
                                <i class="fa-solid fa-house-chimney"></i>
                                    <p>@item.Location</p>
                            </div>
                            <div class="detail-content pad-b-15">
                                <i class="fa-solid fa-clock"></i>
                                <p>@item.ActivityTime</p>
                            </div>
                                    <div class="detail-content">
                                        <i class="fa-solid fa-layer-group"></i>
                                        <p>@item.Category</p>
                                    </div>
                                    @if (item.IsOpen)
                                    {
                                        <div class="flex gap-4">
                                            <div class="open-button">

                                                <button>
                                                    Event Open
                                                </button>

                                            </div>

                                            <div class="quit-button">
                                                <button>
                                                    Delete Event
                                                </button>

                                            </div>
                                        </div>

                                        
                                    }
                                    else
                                    {
                                        <div class="flex gap-4">
                                            <div class="event-closed">

                                                <button>
                                                    Event Open
                                                </button>

                                            </div>

                                            <div class="quit-button">
                                                <button>
                                                    Delete Event
                                                </button>

                                            </div>
                                        </div>
                                    }

                        </div>

                    </div>
                </div>
                    }
                }
                else
                {
                    <p>No items!</p>
                }

                
            </div>
            <div class="userevent-content">
                <h1>Joined Event(s)</h1>
                @foreach (var item in Model.JoinedEvents)
                {
                        <div class="userevent-card-content">
                            <div class="userevent-card-subject">

                                <p><a asp-action="Detail" asp-controller="Event" asp-route-Id="@item.Id">@item.Title</a></p>
                            
                                <div class="flex items-center gap-4">
                                    <i class="fa-solid fa-user pad"></i>
                                </div>

                            </div>
                            <div class="userevent-card-detail">
                                <div class="detail-content pad-b-15">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <p>@item.ActivityTime</p>
                                </div>
                                <div class="detail-content pad-b-15">
                                <i class="fa-solid fa-house-chimney"></i>
                                    <p>@item.Location</p>
                                </div>
                                <div class="detail-content pad-b-15">
                                <i class="fa-solid fa-clock"></i>
                                <p>@item.ExpireTime</p>
                                </div>
                                <div class="detail-content pad-b-15">
                                    <i class="fa-solid fa-layer-group"></i>
                                    <p>@item.Category</p>
                                </div>
                                @if(item.ExpireTime > DateTime.Now){
                                     <div class="quit-button">

                                        <form asp-action="Quit" method="post">
                                            <input type="hidden" name="id" value="@item.Id" />
                                            <button type="submit">QUIT</button>
                                        </form>
                                    
                                    </div>
                                }
                                else
                                {
                                    <div class="event-closed">

                                        <button>
                                            Event Closed
                                        </button>

                                    </div>
                                }

                            </div>
                        
                    </div>
                </div>
                }
                
            </div>
        </div>
        <div class="modal" id="myModal">
            <div class="overlay" id="close-by-overlay"></div>
            <div class="modal-content">
                <div class="modal-subject pad-b-15">
                    <div class="flex items-center">
                        <h2>
                            Football Stadium2
                        </h2>
                        <i class="fa-solid fa-user"></i>
                        <p id="amount">7/21</p>
                    </div>
                    <div class="flex items-center">
                        <button>
                            JOIN
                        </button>
                        <p>Create by username</p>
                    </div>


                </div>
                <div class="modal-card-detail">
                    <div class="flex justify-between">
                        <div>
                            <div class="detail-content pad-b-15">
                                <i class="fa-solid fa-calendar-days"></i>
                                <p>Feb 24,2023</p>
                            </div>
                            <div class="detail-content pad-b-15">
                                <i class="fa-solid fa-house-chimney"></i>
                                <p>Staduim 2</p>
                            </div>
                            <div class="detail-content pad-b-15">
                                <i class="fa-solid fa-clock"></i>
                                <p>19.00 - 21.00</p>
                            </div>
                            <div class="detail-content pad-b-15 pad-b-50">
                                <i class="fa-solid fa-phone"></i>
                                <p>086-xxx-xxxx</p>
                            </div>
                        </div>
                        <div class="pad-b-15 "><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.8110131521726!2d100.77565737485553!3d13.72988888665966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d664988a1bedf%3A0xcc678f180e221cd0!2z4Liq4LiW4Liy4Lia4Lix4LiZ4LmA4LiX4LiE4LmC4LiZ4LmC4Lil4Lii4Li14Lie4Lij4Liw4LiI4Lit4Lih4LmA4LiB4Lil4LmJ4Liy4LmA4LiI4LmJ4Liy4LiE4Li44LiT4LiX4Lir4Liy4Lij4Lil4Liy4LiU4LiB4Lij4Liw4Lia4Lix4LiH!5e0!3m2!1sth!2sth!4v1709573033701!5m2!1sth!2sth" width="600" height="132" style="border-width: 2px; box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); border-radius: 0.75rem;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
                    </div>


                    <div class="pad-b-15 ">
                        <h2> Detail </h2>
                        <p>ขอเชิญชวนให้มาร่วมเตะบอลวันนี้ เป็นการเตะกับชมรมฟุตบอลภาคคอมมหาลัยชื่อดังสีส้มย่านลาดกระบัง เตะไม่เป็นเน้นเล่นคน</p>
                    </div>
                    <div class="comment pad-b-15">
                        <h2> Comments </h2>
                        <input placeholder="Add your comment here..." />
                    </div>
                </div>
                <button class="close-modal" id="closeModalButton">
                    <i class="fa-solid fa-xmark"></i>
                </button>
            </div>
        </div>

    </div>
</div>





    <script>
            

            document.getElementById("filter-container").addEventListener("mouseover", function () {
                
                document.getElementById("filter-content").style.display = "flex";

            });

            document.getElementById('filter-container').addEventListener('mouseleave', function () {
                document.getElementById('filter-content').style.display = 'none';
            });

    function DeleteObj(eventId) {
        console.log("Deleting post with ID:", eventId);
        var obj = document.getElementById("card_" + eventId);
        if (obj) {
            console.log("Element found, removing:", obj);
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/Event/Delete/?id=" + eventId);
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    obj.remove();
                    console.log("Post deleted successfully.");
                    console.log(xmlhttp.responseText);
                }
            }
            xmlhttp.send();
        } else {
            console.error("Element with ID 'card_" + eventId + "' not found.");
        }
    }
    </script>

